
li:nth-child(13) {  font-size: 30px;
    color: purple ;
    border: 1px solid green

}
li:nth-child(13):hover {

      color: red
}

li:first-child { font-size:20pz;
    color: red; 
    border: 1px solid blue;
    
}
li:first-child:hover {

  color:green

}

li:last-child  {font-size:10pz;
    color: silver ; 
    border: 1px solid grey;

    
}
li:last-child:hover {

    color:blue
  
  }
